.landing-header {
  display: flex;
  height: 79px;
  align-items: center;
  max-width: 1344px;
  margin: 0 auto;
  background-color: black;
  justify-content: space-between;
  padding: 0 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;

  .landing-header__left-side {
    display: flex;

    .landing-header__nav-links {
      display: flex;
      list-style-type: none;
      gap: 33px;
      margin: unset;

      .landing-header__nav-link {
        a {
          text-decoration: none;
          cursor: pointer;
          transition: color 0.2s ease;
          font-weight: 400;
        }
      }
    }
  }

  .landing-header__right-side {
    display: flex;
    gap: 16px;

    button {
      background-color: black;
      font-weight: 600;
      cursor: pointer;
      border: none;

      &:nth-child(2) {
        border: 2px solid white;
        padding: 7px 11px 5px;
        border-radius: 8px;
      }
    }
  }
}
