.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.landing-header {
  display: flex;
  height: 79px;
  align-items: center;
  max-width: 1344px;
  margin: 0 auto;
  background-color: black;
  justify-content: space-between;
  padding: 0 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;

  .landing-header__left-side {
    display: flex;

    .landing-header__logo-container {
      cursor: pointer;
    }

    .landing-header__nav-links {
      display: flex;
      list-style-type: none;
      gap: 33px;
      margin: unset;

      .landing-header__nav-link {
        a {
          text-decoration: none;
          cursor: pointer;
          transition: color 0.2s ease;
          font-weight: 400;
        }
      }
    }
  }

  .landing-header__right-side {
    display: flex;
    gap: 16px;

    button {
      background-color: black;
      font-weight: 600;
      cursor: pointer;
      border: none;

      &:nth-child(2) {
        border: 2px solid white;
        padding: 7px 11px 5px;
        border-radius: 8px;
      }
    }
  }
}

.landing {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 27px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;

  .landing_left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .landing__title {
      color: white;
      font-size: 62px;
      line-height: 1.06;
      font-weight: 700;
      margin: 0;
    }
    .landing__desc {
      font-size: 26px;
      max-width: 450px;
      line-height: 1.4;
      margin-bottom: 0;
    }
    > span {
      font-size: 14px;
      font-weight: 400;
      color: #969696;
    }
    .landing__confirm-text {
      font-size: 14px;
      color: #767676;
      width: 328px;
    }
    .landing__login-link {
      font-size: 14px;
      color: #969696;
      margin-top: 16px;
    }
    .landing__login-option-container {
      width: 328px;
      .landing__login-option {
        background-color: white;
        color: black;
        padding: 10px;
        display: flex;
        cursor: pointer;
        border-radius: 6px;
        align-items: center;

        span {
          text-align: center;
          flex: 1 1;
        }

        .landing__option-icon {
          width: 18px;
          height: 18px;
        }

        & + .landing__login-option {
          margin-top: 16px;
        }
      }
    }
    .landing__form-container {
      input {
        width: 328px;
        padding: 14px 10px;
        font-size: 16px;
        border-radius: 6px;
      }
      .signup__submit {
        width: 328px;
        height: 48px;
        border-radius: 6px;
      }
      .ant-form-item:nth-child(3) {
        margin-bottom: unset;
      }
    }
  }

  .landing_right-side {
    max-width: 806px;
    .landing__image-container {
      padding: 0 54px;
      img {
        width: 100%;
      }
    }
  }
}

.landing-footer {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 1344px;
  margin: 0 auto;
  padding: 23px 27px;
  align-items: center;
  background-color: black;

  .landing-footer__copyright {
    color: #929292;
    font-size: 12px;
  }

  .landing-footer__links {
    a {
      color: #969696;
      font-size: 16px;

      + a {
        margin-left: 25px;
      }
    }
  }

  .landing-footer__socials {
    a {
      color: #c1c1c1;

      + a {
        margin-left: 16px;
      }

      span {
        font-size: 24px;
      }
    }
  }
}
